/*Core style*/
html{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing:border-box;
}
body{
    line-height:1.5;
    background:#eaeaea;
    margin:0;
}
/*global style*/
#section-1,#section-2,#section-3{
    margin:1em;
}
ul{
    list-style-type:none;
    
}
ul li{
    display:flex;
    border-bottom:0.5px solid lightgray;
}
li:last-child{
  border:none;  
}
img{
    width:100%;
    height:auto;
}
.card{
    background:#fff;
    border-radius:5px 5px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}
.card-category{
    background:#fff;
    padding:0.8em;
}
.card-content{
    padding:0 0 1em 0;
    background:#fff;
    margin:0;
    text-align:center;
}
.card-content img{
    width:100%;
    height:180px;
    object-fit:cover;
}
.card > .card-content{
    border-bottom: 0.8px solid lightgray;
}
.img-item{
    flex:30%;
}
.img-item img{
    margin:10px 0 8px 8px;
    width:100px;
    height:60px;
    padding:0.5em;
}
.content-item{
    flex:70%;
    padding:0.5em;
    font-size:13px;
}
.aside-branding{
    color:white;
    font-weight:bold;
    padding:0.6em 1.2em;
    background:#3e5061;
    border-radius:4px 4px 0 0;
}
/*header*/
#header-id{
    display:grid;
    grid-template-columns:1fr 1fr;
    background: rgb(62,80,98);
    justify-items:end;
}
.branding{
    margin:0 1em;
    font-size:1.2em;
    color:white;
}
.branding .make-up{
    background-color:lightgreen;
    font-weight:bold;
    color:rgb(62,80,98);
    padding:0 5px;
    margin:4px;
    border-radius:4px;
}
.menu{
    margin:1em 1em 0;
    color:white;
}
.nav-bar{
    display:none;
}
.nav-bar a{
    text-decoration:none;
    color:#eaeaeabe;
    padding:0.5em;
    transition:0.4s;
}
.nav-bar a:hover{
    border-bottom:3px solid white;
}
/**Main area**/
/*section 1*/
#section-1 > .card-content{
    border-radius:5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
} 
#section-1 .card-content > img{
    border-radius:5px 5px 0 0;
    width: 100%;
    height:auto;
}
/*quote*/
.quote{
    display:none;
    margin:1em;
    background:#fff;
    border-radius:5px;
    text-align:center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}
/*Section 2*/

.blue-tag{
    border-top:6px solid #00cccc;
}
.blue-tag > .card-content > h2{
    color:#00cccc;
}
.blue-tag .card-category > span{
    color:#00cccc;
    font-size:1.4em;
    font-weight:bold;
}
.orange-tag{
    border-top:6px solid orange;
}
.orange-tag > .card-content > h2{
    color:orange;
}
.orange-tag .card-category > span{
    color:orange;
    font-size:1.4em;
    font-weight:bold;
}
/*Section 3*/
.pink-tag{
    border-top:6px solid pink;
}
.pink-tag > .card-content > h2{
    color:pink;
}
.pink-tag .card-category > span{
    color:pink;
    font-size:1.4em;
    font-weight:bold;
}
.violet-tag{
    border-top:6px solid violet;
}
.violet-tag > .card-content > h2{
    color:violet;
}
.violet-tag .card-category > span{
    color:violet;
    font-size:1.4em;
    font-weight:bold;
}
.green-tag{
    border-top:6px solid green;
}
.green-tag > .card-content > h2{
    color:green;
}
.green-tag .card-category > span{
    color:green;
    font-size:1.4em;
    font-weight:bold;
}
/*Search Zone*/
.search-zone{
    margin:1em;
}
.search-zone input[type="text"]{
    width:100%;
    padding:1em;
    border:1px solid lightgray;
    border-radius:4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    outline:none;
}
/*Login form*/
#aside-0{
    margin:1em;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}
#aside-0 form{
    background-color:white;
    padding:1em;
    border-radius:0 0 4px 4px;
}
#aside-0 form input[type="text"]{
    padding:0.8em;
    margin-bottom:0.8em;
    border:none;
    width:100%;
    background:#e0e0e0;
    border-radius:5px;
    transition:0.3s;
    outline:none;
}
#aside-0 form input[type="text"]:focus{
    background:#d3d3d3;
}
#aside-0 form input[type="submit"]{
    border:none;
    background:#e0e0e0;
    border-radius:5px;
    padding:0.8em;
    transition:0.3s;
}
#aside-0 form input[type="submit"]:hover{
    background:#d3d3d3;
}
#aside-0 a{
    text-decoration:none;
    color:#585858;
    font-size:0.8em;
    padding:0.5em;
    transition:0.2s;
}
#aside-0 a:hover{
    color:black;
    text-decoration:underline;
}
/*Aside 1*/
#aside-1{
    margin:1em;
    background:#fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius:0 0 4px 4px;
}
/*Aside 2*/
#aside-2{
    margin:1em;
    background:#fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius:4px;
}
#aside-2 .contact{
    border-radius:5px;
    margin:0.5em;
    color:white;
    padding:0.5em;
}
#facebook-box{
    background:#002db3;
    padding:0.4em;
    border-radius:5px;
    margin:0.3em;
}
#google-box{
    background:#ff0000;
    padding:0.4em;
    border-radius:5px;
    margin:0.3em;
}
#youtube-box{
    background:#cc0000;
    padding:0.4em;
    border-radius:5px;
    margin:0.3em;
}
#twitter-box{
    background:#3399ff;
    padding:0.4em;
    border-radius:5px;
    margin:0.3em;
}
/*Aside 3*/
#aside-3{
    margin:1em;
    background:#fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius:4px;
}
#aside-3 .author-index{
    padding:1em;
}
#aside-3 .author-index > div{
    background:#e0e0e0;
    border-radius:5px;
    margin-bottom:0.8em;
    padding:0.6em;
}
/*Footer*/
#super-footer{
    background:black;;
}
#super-footer .copyright{
    color:#eaeaeabe;
    text-align:center;
}
#super-footer .copyright a{
    text-decoration:none;
    color:white;
}
#super-footer .copyright a:hover{
    text-decoration:underline;
}
#super-footer .link a{
    color:#eaeaeabe;
    text-decoration:none;
    transition:0.4s;
    text-align:center;
    margin:0.5em;
}
#super-footer .link a:hover{
    color:white;
}
/*MEDIA QUERIES*/
@media only screen and (min-width:700px){
    /*Global*/
    .grid-container{
        display:grid;
    }
    /*Header*/
    .menu{
        display:none;
    }
    #header-id{
        justify-items:start;
        border-bottom:4px solid lightgreen;
    }
    .branding{
        font-size:25px;
    }
    .nav-bar{
        display:block;
        justify-self:end;
        margin-top:4em;
        margin-right:1em;
    }
    .nav-bar a{
        margin:0 0.3em;
    }
    #header-id .nav-bar .active{
        color:lightgreen;
        font-weight:bold;
    }
    /**Main area**/
    #main-id{
        display:grid;
        grid-template-columns:3fr 1fr;
    }
    /*Section 2*/
    #section-2 .grid-container{
        grid-template-columns:1fr 1fr;
        grid-gap:2em;
    }
    /*quote*/
    .quote{
        display:block;
    }
    /*Section 3*/
    #section-3 .grid-container{
        grid-template-columns:1fr 1fr 1fr;
        grid-gap:2em;
    }
    /*footer*/
    #super-footer{
        padding:2em;
    }
    #super-footer .link{
        text-align:center;
        margin-top:0.5em;
    }
}